
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon-search"></i></span>
            <input type="text" id="search-box">
        </div>
    </div>
</div>
<div class="container">

    @foreach (var item in Model)
    {
        <div class="content">
            <p id="title">@item.Title </p>
            <img src="~/Content/SoundImg/@item.ImgName" id="img-sound" />
            <p>@item.Artist</p>
            <p>@item.Album</p>
            <p>@item.Rate</p>
            <audio controls>
                <source src="~/Content/MusicStorage/@item.MusicName">
            </audio>
        </div>
    }

</div>
@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @Scripts.Render("~/Scripts/postmodernizm.js")
}