@using LibraryServices;
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";

    List<PersonSound> personSounds = null;
    if (User.Identity.IsAuthenticated)
    {
        personSounds = DbService.GetAllUserSounds(DbService.GetPersonByLogin(User.Identity.Name).Id);
    }
}

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon-search"></i></span>
            <input type="text" id="search-box">
        </div>
    </div>
</div>
<div class="my-drop-list list-inline-item">
    <div class=" to-change-color-dot dot" style="background-color:#ffffff">?</div>
    <span>▽ Выберите цвет</span>
    <ul class="list-unstyled">
        <li>
            <div>
                <ul>
                    <li class="list-inline-item row mt-2">
                        <div class="dot change-color-dot" style="background-color:#000000"></div>
                        <div class="dot change-color-dot" style="background-color:#808080"></div>
                        <div class="dot change-color-dot" style="background-color:#fffff0"></div>
                    </li>
                    <li class="list-inline-item row mt-2">
                        <div class="dot change-color-dot" style="background-color:#ff0000"></div>
                        <div class="dot change-color-dot" style="background-color:#00ff21"></div>
                        <div class="dot change-color-dot" style="background-color:#4800ff"></div>
                    </li>
                    <li class="list-inline-item row mt-2">
                        <div class="dot change-color-dot" style="background-color:#ffd800"></div>
                        <div class="dot change-color-dot" style="background-color:#b200ff"></div>
                        <div class="dot change-color-dot" style="background-color:#ff6a00"></div>
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</div>
<div class="container">

    @foreach (Sound item in Model)
    {

        bool exsisted = false;
        if (personSounds != null)
        {
            foreach (PersonSound personSound in personSounds)
            {
                if (personSound.Sound.Id == item.Id)
                {
                    exsisted = true;
                }
            }
        }

        <div class="music-content content">
            <p id="title">@item.Title </p>
            <img src="~/Content/SoundImg/@item.ImgName" id="img-sound" />
            <p>@item.Artist</p>
            <p>@item.Album</p>
            <div style="background-color: @item.Color" class="color-musick-block"></div>
            <div>
                @if (!User.Identity.IsAuthenticated)
                {

                }
                else if (exsisted)
                {
                    <span class="text-danger">Песня уже добавлена</span>
                    }
                else
                {
                    using (Ajax.BeginForm("PartialSoundAdd", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "added-block" }))
                    {
                        <input type="submit" value="добавить в ifбранное">
                    }
                }
            </div>
            <p>@item.Rate</p>
            <audio controls>
                <source src="~/Content/MusicStorage/@item.MusicName">
            </audio>
        </div>
        <hr />
    }

</div>
@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
}