@model IEnumerable<LibraryServices.PlayListSound>
@using LibraryServices

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";

    List<PersonPlayList> personPlayLists = null;
    if (User.Identity.IsAuthenticated)
    {
        personPlayLists = DbService.GetAllUserPlayLists(DbService.GetPersonByLogin(User.Identity.Name).Id);
    }

    bool exsisted = false;
    if (personPlayLists != null)
    {
        foreach (PersonPlayList personPlayList in personPlayLists)
        {
            if (personPlayList.PlayList.Id == Model.FirstOrDefault().PlayList.Id)
            {
                exsisted = true;
            }
        }
    }
}

<h2>PlayList</h2>
@if (exsisted)
{
    <span class="text-danger">Плей-лист уже добавлена</span>
}
else
{
    <div>
        @using (Ajax.BeginForm("PartialPlayListAdd", new { id = Model.FirstOrDefault().PlayListId }, new AjaxOptions { UpdateTargetId = "added-block" }))
        {
            <input type="submit" value="добавить в мои плей листы">
        }
        <div id="added-block"></div>
    </div>
}

@foreach (PlayListSound item in Model)
{
    <div class="music-content content">
        <p id="title">@item.Sound.Title </p>
        <img src="~/Content/SoundImg/@item.Sound.ImgName" id="img-sound" />
        <p>@item.Sound.Artist</p>
        <p>@item.Sound.Album</p>
        <div style="background-color: @item.Sound.Color" class="color-musick-block"></div>
        <p>@item.Sound.Rate</p>
        <audio controls>
            <source src="~/Content/MusicStorage/@item.Sound.MusicName">
        </audio>
    </div>
}