<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
.row {
    margin: 5px;
    display: flex;
}

li {
    list-style-type: none;
    margin-left: 1vw;
}

    li:first-child {
        margin: 0;
    }

.content {
    height: 50vh;
    background-color: lightgray;
}

.copyright, .impressum {
    text-align: center;
}

.logo {
    height: 8vh;
}

    li {
        margin-left: 0;
        margin-bottom: 1vh;
    }

    .sozial {
        margin-bottom: 1vh;
    }

    </style>


    @Styles.Render("~/Style/LayoutStyle.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                    <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="navbar navbar-inverse navbar-fixed-bottom" >
            <div class="container">
                <footer class="row">
                    <div class="sozial col-xs-12 col-sm-6 col-sm-push-6">
                        <ul class="row">
                            <li class="col-xs-6 ">
                                <a href="#">
                                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
                                </a>
                            </li>
                            <li class="col-xs-6 ">
                                <a href="#">
                                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
                                </a>
                            </li>
                            <li class="col-xs-6">
                                <a href="#">
                                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
                                </a>
                            </li>
                            <li class="col-xs-6">
                                <a href="#">
                                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
                                </a>
                            </li>
                        </ul>
                    </div><!-- Ende Sozial media -->

                    <div class="copyright col-xs-12 col-sm-3 col-sm-pull-6">
                        <p> &copy; Me from now to eternity </p>
                    </div><!-- Ende Copyright -->

                    <div class="impressum col-xs-12 col-sm-3 col-sm-pull-6">
                        <p> An impressive impressum </p>
                        <p> Adresse und so </p>
                    </div><!-- Ende Impressum -->
                </footer>
            </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
